<div {{ react_component('HeroSplit', {
    title: site.title,
    description: site.description,
    button: site.button,
    buttons: site.buttons,
    images: site.images
}) }}>
    Loading...
</div>
