<section class="hero">
      <div class="container">
        <div class="hero-content">
          <h1 class="hero-title">{$site.site.title}</h1>
          <p class="hero-description">{$site.site.description}</p>

          <div class="hero-actions">
            {if isset($site.site.button{/if}
              <a href="{$site.site.button.href}" class="button button-${$site.site.button.variant} {$site.site.button.className}">
                {$site.site.button.text}
              </a>